/*--Slider styles--*/

.slider-container h4 {
    color: #ffffff;
    text-align: center;
    background-color: #414a4c;
    padding: 5px;
    margin: 0;
}

.slider-container h4 span {
    background: #ffffff;
    text-align: center;
    font-size: 13px;
    line-height: 20px;
    border-radius: 100%;
    width: 20px;
    display: inline-block;
    margin-left: 10px;
}

.slider-container .content {
  color: #ffffff;
  padding: 10px;
  border: 1px solid #e6e6e6;
}

/*--Library--*/
.rangeslider-horizontal {
    height: 5px;
    border-radius: 10px;
}

.rangeslider-horizontal .rangeslider__fill {
    height: 100%;
    background-color: #414a4c;
}

.rangeslider-horizontal .rangeslider__handle {
    width: 15px;
    height: 15px;
    border-radius: 30px;
    cursor: pointer;
    top: 50%;

    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
}

.rangeslider-horizontal .rangeslider__handle-tooltip {
    top: -55px;
}

.rangeslider-horizontal .rangeslider__handle-tooltip:after {
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #414a4c;
    left: 50%;
    bottom: -8px;

    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
}

.rangeslider {
    background: #e6e6e6;
    position: relative;
    margin: 20px 0;

    -ms-touch-action: none;
    touch-action: none;
}

.rangeslider .rangeslider__handle {
    background: #414a4c;
    border: none;
    cursor: pointer;
    outline: none;
    display: inline-block;
    position: absolute;

    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.rangeslider .rangeslider__handle-tooltip {
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    background-color: #414a4c;
    border-radius: 4px;
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    
    -webkit-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
  
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
}

.rangeslider .rangeslider__handle-tooltip span {
    color: white;
    margin-top: 12px;
    display: inline-block;
    line-height: 100%;
}

.rangeslider .rangeslider__handle-tooltip:after {
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
}
/*End library*/
