/*Header*/
.header {
    background: #414a4c;
    text-align: right;
}

.header h1 {
    color: #ffffff;
    font-size: 1rem;
    display: inline-block;
    float: left;
}

button.pie {
    background: url(./img/pie.png) no-repeat center transparent /85%;
}

button.doughnut {
    background: url(./img/doughnut.png) no-repeat center transparent /85%;
    margin-right: 10px
}

button {
    font-size: 0;
    padding: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
}

button:hover {
    background-color: #000000;
    cursor: pointer;
}
