/*--Table styles--*/
.table-info {
    text-align: center;
    margin-top: 5px;
}

.table-info i {
    color:#a8a8a8;
    font-weight: 200;
}


/*Library*/
div.row-active {
    background-color: rgba(65, 74, 76, .9);
}

div.row-active div {
    color:#ffffff;
}

div.rt-tr .rt-th:first-of-type,
div.rt-tr .rt-td:first-of-type{
    color:#414a4c;
    background: #f9f9f9;
}

div.rt-tr .rt-td {
    text-align: center;
}

